@charset "UTF-8";

:root{
    --cor0: #FAE0C0;
    --cor1: #ebc596;
    --cor2: #7C6446;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,html{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1.6;
    background-color: var(--cor2);
}
body{
    min-height: 100vh;
}

nav{
    background-color: #333;
    color: #fff;
    padding: 10px;
}

nav ul{
    height: 100%;
    display: flex;
    justify-content: center;
    list-style: none;
}
nav ul li {
    display: flex;
    align-items: center;
    padding: 0 10px;
}

a{
    color: white;
    text-decoration: none;
    margin: 0 10px;
}
a:hover{
    color: #ff8800;
    
    /* background-color: var(--cor0); */
}

main{
    min-height: 100vh;
    margin: auto;
    background-color: var(--cor1);
    border-radius: 10px;
    max-width: 75%;
}

main > h1{
    text-align: center;
    padding: 10px;
    text-shadow: 1px 1px 1px #0000003d;
    font-size: 2em;
}

section.container{
    /* background-color: bisque; */
    display: flex;
    justify-content: center;
    align-items: center;

}

div.img{
    margin: 10px;
    width: 100%;
    height: 250px;
    background-color: white;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

div#div1{
    background-image: url("Assets/Hábitos.png");
}

div#div2{
    background-image: url("Assets/Loop.png");
}

div#div3{
    background-image: url("Assets/MudarHabito.png");
}

section p {
    width: 100%;
    margin: 10px;
    text-align: justify;
}

section p > a{
    color: var(--cor2);
    text-decoration: none;
}

img{
    width: 35px;
    height: auto;
}

main > h2{
    text-align: center;
    padding: 10px;
    text-shadow: 1px 1px 1px #0000003d;
    font-size: 2em;
}

iframe{
    padding: 35px;
    width: 100%;
    height: 780px;
}

footer{
    bottom: 0;
    width: 100%;
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
}

footer > p {
    display: inline;
}

footer > img {
    margin: 0px 15px -10px 0
}
